.form-login-section {
  height: 100vh;
  padding: 24px;
  background: #fff;
  overflow: hidden;
}
.form-login-right-box {
  width: 80%;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
}
.form-login-section > .row {
  height: 100%;
}
.form-login-left {
  height: 100%;
}
.form-login-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.form-login-right {
  height: 100%;
}
.flrb-input-password {
  margin-bottom: 16px;
}
.flrb-input-password #visible-password {
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.flrb-devide:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: #8e8e90;
}
.flrb-devide > p {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
  color: #8e8e90;
  position: relative;
}
#lost-password {
  font-weight: 500;
}
.flrb-gg-btn {
  border-width: 1px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.flrb-gg-btn img {
  margin-right: 16px;
}
@media screen and (max-width: 850px) {
  .form-login-right-box {
    box-shadow: 2px 2px 10px #b7b7b7;
    width: 60%;
  }
  .form-login-section {
    padding: 0;
  }
  .form-login-left {
    display: none;
  }
  .form-login-right {
    background: url("../../img/form-login/background-mobile.png");
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 550px) {
  .form-login-right-box {
    width: 85%;
  }
}
