/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
@keyframes message-show {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes polygon-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ml-1{
  margin-left: 10px;
}
.ml-0-5{
  margin-left: 5px;
}
.mr-1{
  margin-right: 10px;
}
.mr-0-5{
  margin-right: 5px;
}
/* cau chuyen */
.header-black #masthead {
  background: #000;
}
.header-black #masthead a {
  color: #fff;
}
.page-id-53 #main {
  background-image: url("../../../wp-content/uploads/2022/12/Homepage-Introduction-Jp-1.png");
  background-size: cover;
}
.story-img-polygon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(../../../wp-content/uploads/2022/12/Polygon-2.png);
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) rotate(0);
  background-size: 100% 100%;
  animation: polygon-rotate 9s linear infinite;
}
/* cau chuyen */

.remove-after:after {
  content: unset;
}
.header-full-width .container {
  max-width: 96% !important;
}
.lightbox-content {
  max-width: 1360px;
}
.t-form input,
.t-form form textarea {
  outline: unset !important;
  box-shadow: unset !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 10px !important;
  background-color: #fff !important;
  font-weight: 400 !important;
  padding: 16px !important;
  width: 100%;
  height: auto;
}
.t-form form textarea {
  height: 168px;
}
.t-form input:focus,
.t-form textarea:focus {
  outline: unset !important;
  box-shadow: unset !important;
}
.t-box {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
}
.t-form .button {
  line-height: 1 !important;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 16px;
}
.t-button-small {
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 16px;
}
a {
  cursor: pointer;
  font-weight: 600;
}
.w-100 {
  width: 100%;
}
.input-error {
  border-radius: 10px;
  border: 1px solid red !important;
  position: relative;
}
.input-error:after {
  content: "i";
  background: #fff;
  box-shadow: 0 0 3px red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: red;
  position: absolute;
  width: 24px;
  height: 24px;
  right: -42px;
  top: 50%;
  transform: translateY(-50%);
}
.width-fit-content {
  width: fit-content;
}
.wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: #3333337a;
  z-index: 2;
  align-items: center;
  justify-content: center;
}
.form-input-password {
  margin-bottom: 16px;
  position: relative;
}
.form-input-password-icon {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("images/eye.png");
  background-position: center;
  background-size: contain;
}
.woocommerce-error {
  padding: 10px;
  position: fixed;
  z-index: 9999;
  bottom: 30px;
  background: #fff;
  box-shadow: 0 0 3px #333333;
  border-radius: 4px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  right: 0;
  max-width: 80%;
  animation: message-show 1s;
}
.woocommerce-error * {
  padding: 0;
  margin: 0;
}
.s1_register_right {
  background-size: cover !important;
  background: url(../../../wp-content/uploads/2022/12/Frame-626017.png);
}
@media only screen and (max-width: 849px) {
  /*************** ADD MOBILE ONLY CSS HERE  ***************/
  .woocommerce-ordering {
    width: 100%;
  }
}
@media screen and (min-width: 850px) {
  .archive .shop-page-title .page-title-inner,.woocommerce-shop .shop-page-title .page-title-inner {
    min-height: 300px;
  }
  .archive .shop-page-title .page-title-inner h1, .woocommerce-shop .shop-page-title .page-title-inner h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 549px) {
  .reverse-mobile {
    flex-flow: column-reverse;
  }
}
